@import 'tailwindcss';

.welcomeSection {
  background-image: url('/images/background/welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hs_img1 {
  background-image: url('/images/history_section/hs1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
