@import 'tailwindcss';

body {
  scroll-behavior: smooth;
}

.welcomeSection {
  background-image: url('/images/background/welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.reservationSection {
  background-image: url('/images/background/reservation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
